@page
@model ThAmCo.Events.Pages.Catering.IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="mx-5 mt-5">
    <a asp-page="/Catering/Menus/Index" class="btn btn-primary">Go to Menus</a>

    <a asp-page="/Catering/FoodItems/Index" class="btn btn-primary">Manage Food</a>

    <a asp-page="/Catering/Menus/Index" class="btn btn-primary">Manage Bookings</a>
</div>
