@page
@model ThAmCo.Events.Pages.EditEventModel
@{
}

<h3>Edit Event</h3>

<div class="form-group">
    <p>Id: 1</p>
    <label for="Title">Title</label>
    <input id="Title" placeholder="Wedding" />
    <label for="Description">Description</label>
    <input id="Description" placeholder="A wedding at a place" />
    <label for="Date">Date</label>
    <input id="Date" placeholder="12/12/24" />
</div>

<h4>Staff</h4>
<table class="table">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Role</th>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>John</td>
            <td>Doe</td>
            <td>Waiter</td>
        </tr>
        <tr>
            <td>1</td>
            <td>John</td>
            <td>Doe</td>
            <td>Waiter</td>
        </tr>
                <tr>
            <td>1</td>
            <td>John</td>
            <td>Doe</td>
            <td>Waiter</td>
        </tr>
                <tr>
            <td>1</td>
            <td>John</td>
            <td>Doe</td>
            <td>Waiter</td>
        </tr>
                <tr>
            <td>1</td>
            <td>John</td>
            <td>Doe</td>
            <td>Waiter</td>
        </tr>
                <tr>
            <td>1</td>
            <td>John</td>
            <td>Doe</td>
            <td>Waiter</td>
        </tr>
                <tr>
            <td>1</td>
            <td>John</td>
            <td>Doe</td>
            <td>Waiter</td>
        </tr>
                <tr>
            <td>1</td>
            <td>John</td>
            <td>Doe</td>
            <td>Waiter</td>
        </tr>
                <tr>
            <td>1</td>
            <td>John</td>
            <td>Doe</td>
            <td>Waiter</td>
        </tr>
                <tr>
            <td>1</td>
            <td>John</td>
            <td>Doe</td>
            <td>Waiter</td>
        </tr>
                <tr>
            <td>1</td>
            <td>John</td>
            <td>Doe</td>
            <td>Waiter</td>
        </tr>
                <tr>
            <td>1</td>
            <td>John</td>
            <td>Doe</td>
            <td>Waiter</td>
        </tr>
                <tr>
            <td>1</td>
            <td>John</td>
            <td>Doe</td>
            <td>Waiter</td>
        </tr>
                <tr>
            <td>1</td>
            <td>John</td>
            <td>Doe</td>
            <td>Waiter</td>
                    <tr>
            <td>1</td>
            <td>John</td>
            <td>Doe</td>
            <td>Waiter</td>
        </tr>
        <tr>
            <td>1</td>
            <td>John</td>
            <td>Doe</td>
            <td>Waiter</td>
        </tr>
    </tbody>
</table>
<button>Add Staff</button>

<h4>Guests</h4>
<table class="table">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>John</td>
            <td>Doe</td>
        </tr>
        <tr>
            <td>1</td>
            <td>John</td>
            <td>Doe</td>
            <td>Waiter</td>
        </tr>
        <tr>
            <td>1</td>
            <td>John</td>
            <td>Doe</td>
            <td>Waiter</td>
        </tr>
        <tr>
            <td>1</td>
            <td>John</td>
            <td>Doe</td>
            <td>Waiter</td>
        </tr>
        <tr>
            <td>1</td>
            <td>John</td>
            <td>Doe</td>
            <td>Waiter</td>
        </tr>
        <tr>
            <td>1</td>
            <td>John</td>
            <td>Doe</td>
            <td>Waiter</td>
        </tr>
        <tr>
            <td>1</td>
            <td>John</td>
            <td>Doe</td>
            <td>Waiter</td>
        </tr>
        <tr>
            <td>1</td>
            <td>John</td>
            <td>Doe</td>
            <td>Waiter</td>
        </tr>
        <tr>
            <td>1</td>
            <td>John</td>
            <td>Doe</td>
            <td>Waiter</td>
        </tr>
        <tr>
            <td>1</td>
            <td>John</td>
            <td>Doe</td>
            <td>Waiter</td>
        </tr>
        <tr>
            <td>1</td>
            <td>John</td>
            <td>Doe</td>
            <td>Waiter</td>
        </tr>
        <tr>
            <td>1</td>
            <td>John</td>
            <td>Doe</td>
            <td>Waiter</td>
        </tr>
        <tr>
            <td>1</td>
            <td>John</td>
            <td>Doe</td>
            <td>Waiter</td>
        </tr>
        <tr>
            <td>1</td>
            <td>John</td>
            <td>Doe</td>
            <td>Waiter</td>
        </tr>
        <tr>
            <td>1</td>
            <td>John</td>
            <td>Doe</td>
            <td>Waiter</td>
        </tr>
        <tr>
            <td>1</td>
            <td>John</td>
            <td>Doe</td>
            <td>Waiter</td>
        </tr>
        <tr>
            <td>1</td>
            <td>John</td>
            <td>Doe</td>
            <td>Waiter</td>
        </tr>
        <tr>
            <td>1</td>
            <td>John</td>
            <td>Doe</td>
            <td>Waiter</td>
        </tr>
        <tr>
            <td>1</td>
            <td>John</td>
            <td>Doe</td>
            <td>Waiter</td>
        </tr>
        <tr>
            <td>1</td>
            <td>John</td>
            <td>Doe</td>
            <td>Waiter</td>
        </tr>
        <tr>
            <td>1</td>
            <td>John</td>
            <td>Doe</td>
            <td>Waiter</td>
        </tr>
        <tr>
            <td>1</td>
            <td>John</td>
            <td>Doe</td>
            <td>Waiter</td>
        </tr>
        <tr>
            <td>1</td>
            <td>John</td>
            <td>Doe</td>
            <td>Waiter</td>
        </tr>
        <tr>
            <td>1</td>
            <td>John</td>
            <td>Doe</td>
            <td>Waiter</td>
        </tr>
    </tbody>
</table>
<button>Add Guest</button>
