@page
@model ThAmCo.Events.Pages.EventsModel
@{
}

<h4>Events</h4>
<table class="table">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Title</th>
            <th scope="col">Description</th>
            <th scope="col">Date</th>
            <th scope="col">Guests</th>
            <th scope="col">Staff</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>Wedding</td>
            <td>A wedding at a place</td>
            <td>12/12/24</td>
            <td>70</td>
            <td>20</td>
            <td><a asp-page="/EditEvent">Edit</a></td>
        </tr>
    </tbody>
</table>
<a asp-page="/NewEvent">New Event</a>