@page
@model ThAmCo.Events.Pages.IndexModel
@{
	ViewData["Title"] = "Event Dashboard";
}

<div class="page-container">
	@if (User.Identity.IsAuthenticated)
	{
		<h1>ThAmCo Dashboard</h1>
		<p>All in one event management portal</p>
	}
</div>