@page
@model ThAmCo.Events.Pages.NewEventModel
@{
}

<h3>Create Event</h3>

<div class="form-group">
    <label for="Title">Title</label>
    <input id="Title" placeholder="Event Title" />
    <label for="Description">Description</label>
    <input id="Description" placeholder="Event Description" />
    <label for="Date">Date</label>
    <input id="Date" placeholder="MM/DD/YY" />
</div>

<h4>Staff</h4>
<table class="table">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Role</th>
        </tr>
    </thead>
    <tbody>
        <!-- You can dynamically generate these rows based on staff -->

    </tbody>
</table>
<button>Add Staff</button>

<h4>Guests</h4>
<table class="table">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
        </tr>
    </thead>
    <tbody>
        <!-- You can dynamically generate these rows based on guests -->

    </tbody>
</table>
<button>Add Guest</button>

<a asp-page="/Events">Create Event</a>
