@page
@using Microsoft.AspNetCore.Authorization;
@using Microsoft.AspNetCore.Mvc.RazorPages;

@attribute [Authorize]
@model ThAmCo.Events.Pages.Catering.FoodItems.EditModel
@{
    ViewData["Title"] = "Edit Food Item";
}

<div class="page-container">
    <div class="header">
        <h1>Edit Food Item</h1>
        <p>Modify the details of this food item.</p>
    </div>

    <div class="card">
        <h4 class="card-title">Food Item Details</h4>
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="alert error-alert"></div>
            <input type="hidden" asp-for="FoodItem.FoodItemId" />

            <div class="form-group">
                <label asp-for="FoodItem.Name" class="card-label">Name</label>
                <input asp-for="FoodItem.Name" class="form-select" />
                <span asp-validation-for="FoodItem.Name" class="warning-alert"></span>
            </div>

            <div class="form-group">
                <label asp-for="FoodItem.Description" class="card-label">Description</label>
                <input asp-for="FoodItem.Description" class="form-select" />
                <span asp-validation-for="FoodItem.Description" class="warning-alert"></span>
            </div>

            <div class="form-group">
                <label asp-for="FoodItem.UnitPrice" class="card-label">Unit Price</label>
                <input asp-for="FoodItem.UnitPrice" class="form-select" />
                <span asp-validation-for="FoodItem.UnitPrice" class="warning-alert"></span>
            </div>

            <div class="modal-footer">
                <button type="submit" class="btn-create">Save Changes</button>
                <a asp-page="Index" class="btn-cancel">Back to List</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}