/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

body {
	margin: 0;
	background-color: #f9f9f9;
	color: #333;
}

